/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  background-color: #f5f8fa;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

.icon-container {
  height: 40px;
  width: 40px;
  overflow: hidden;
  display: inline-block;
  border-radius: 5px;
}

.icon-container img {
  width: auto;
  height: 100%;
}

header {
  margin: 5px;
  font-size: 20px;
  color: #66747f;
  font-family: helvetica neue;
}

nav {
  position: fixed;
  background-color: white;
  height: 50px;
  width: 100%;
  border-bottom: solid thin #aab8c3;
  padding: 5px;
}

.spacer {
  height: 50px;
  width: 100%;
}